//
// Base styles
//

button,
.button {
  position:relative;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: none;
  outline: 0;
  border: 0;
  transition: all 0.25s ease-in-out;
  height: $btn-height;
  line-height: $btn-height;
  padding: 0 $spacer*1.5 0 $spacer*1.5;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0;
    }
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
  }
  @include media-breakpoint-down(lg) {
    height: $btn-height-sm;
    line-height: $btn-height-sm;
    font-size: $btn-font-size-sm;

  }
}

.button {
  font-weight: $btn-font-weight;
  font-family: $btn-font-family;
  border-radius: $border-radius;
  white-space: nowrap;

  &--primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-bg;
    &:active,
    &:hover{
      background-color: $btn-primary-bg-hover;
      color: $btn-primary-color;
    }
  }

  &--blue {
    color: $btn-blue-color;
    background-color: $btn-blue-bg;
    border-color: $btn-blue-bg;
    &:active,
    &:hover{
      background-color: $btn-blue-bg-hover;
      color: $btn-blue-color;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
  }
}



// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button_block {
    width: 100%;
  }
}
